<p style="color: green"><%= notice %></p>

<%= render @neighbourhood %>

<div>
  <%= link_to "Edit this neighbourhood", edit_neighbourhood_path(@neighbourhood) %> |
  <%= link_to "Back to neighbourhoods", neighbourhoods_path %>

  <%= button_to "Destroy this neighbourhood", @neighbourhood, method: :delete %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Trees</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">311 Reqests</h5>
          <%= render @neighbourhood.Reqests %>
        </div>
      </div>
    </div>
  </div>
</div>
