<p style="color: green"><%= notice %></p>

<%= render @neighbourhood %>

<div>
  <%= link_to "Edit this neighbourhood", edit_neighbourhood_path(@neighbourhood) %> |
  <%= link_to "Back to neighbourhoods", neighbourhoods_path %>

  <%= button_to "Destroy this neighbourhood", @neighbourhood, method: :delete %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Trees</h5>
          <%= render @neighbourhood.trees %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">311 Reqests</h5>
          <% @neighbourhood.requests.each do |request| %>
            <div>
              <%= request.service_request %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
